{{>header title="Результаты по участкам" css="result" }}

<style>
    .detailsRow:hover {
        cursor: pointer;
        box-shadow: inset 0 0 10000px 10000px rgba(0, 0, 0, 0.1);
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->
<!-- PAGE HEADER SECTION -->
<DIV id="header">
{{#switch userRole }}
    {{#case 'EDITOR'}}
            <DIV class="left">
                <INPUT type="button" class="btn img_back" value="К списку участков" onclick="location.href='/places/?tour_id={{ tourId }}'">
            </DIV>
            <DIV class="center"><DIV></DIV></DIV>
    {{/case}}
    {{#case 'OBSERVER'}}
        <DIV id="header">
            <DIV class="left">
                <INPUT type="button" class="btn img_back" value="К списку туров" onclick="location.href='/'">
            </DIV>
            <DIV class="center">
                <INPUT type="button" class="btn img_protocol" value="Вывод протокола TODO" onclick="location.href='/protocol/summary?tour_id={{ tourId }}'">
            </DIV>
        </DIV>
    {{/case}}
{{/switch}}
    <DIV class="right">
        <INPUT type="button" class="btn img_exit" value="Выход из системы" onclick="location.href='/logout'">
    </DIV>
</DIV>

<DIV class="center">

<H1>
    Результаты голосования по участкам<BR>
    <SMALL>(по состоянию на {{ dateFormatted }} обработано {{ protocolsProcessed }} протоколов из {{ protocolsCount }})</SMALL>
</H1>

<!--------------------------------------------------------------------------------------------------------------------->
<!-- TABLE HEADER SECTION. Upper part  -->

<TABLE class='okrug'>

    <TR>
        <TH rowspan='2'>Ответстве-<BR>нный(ая)<BR>по участку</TH>
        <TH rowspan='2'>№<BR>участка</TH>
        <TH rowspan='2'>Кол-во<BR>избира-<BR>телей</TH>
        <TH rowspan='2'>Полу-<BR>чили<BR>бюлле-<BR>тени</TH>
        <TH rowspan='2'>Кол-во<BR>проголо-<BR>совавших</TH>
        <TH rowspan='2'>% проголо-<br>совавших</TH>
        <TH colspan='3'>В том числе:</TH>
        {{#each options}}
            <TH colspan='2'>{{ @this }}</TH>
        {{/each}}
    </TR>

<!--------------------------------------------------------------------------------------------------------------------->
<!-- TABLE HEADER SECTION. Lower part  -->

    <TR>
        <TH>досрочно</TH>
        <TH>по месту пребывания</TH>
        <TH>на участке</TH>
        {{#each summary.options }}
            <TH>Кол-во<br>голосов</TH>
            <TH>% от проголо-<br>совавших</TH>
        {{/each}}
    </TR>

<!--------------------------------------------------------------------------------------------------------------------->
<!-- FIRST ROW. SUMMARY DATA -->


    <TR>
        <TH class='itogo' colspan='2'>По району</TH>
        <TH class='itogo'>{{ summary.voters.count }}</TH>
        <TH class='itogo'>{{ summary.voters.gotBulletin }}</TH>
        <TH class='itogo'>{{ summary.voters.votedCount }}</TH>
        <TH class='itogo'>{{ summary.voters.votedPercent }}</TH>
        <TH class='itogo'>{{ summary.votingType.early }}</TH>
        <TH class='itogo'>{{ summary.votingType.atHome }}</TH>
        <TH class='itogo'>{{ summary.votingType.atPlace }}</TH>
        {{#each summary.options}}
            <TH class='itogo'>{{ count }}</TH>
            <TH class='itogo'>{{ percents }}</TH>
        {{/each}}
    </TR>

<!--------------------------------------------------------------------------------------------------------------------->
<!-- ALL OTHER ROWS. DATA BY PLACES -->

    {{#each details.rows}}
        <TR class="detailsRow" onclick="location.href='/protocol/view?tour_id={{@root.tourId}}&place_id={{place.id}}'">
            <TD>{{ place.editorFIO }}</TD>
            <TD>{{ place.number }}</TD>
            {{#if isProtocolProcessed}}
                <TD>{{ voters.count }}</TD>
                <TD>{{ voters.gotBulletin }}</TD>
                <TD>{{ voters.votedCount }}</TD>
                <TD>{{ voters.votedPercent }}</TD>
                <TD>{{ votingType.early }}</TD>
                <TD>{{ votingType.atHome }}</TD>
                <TD>{{ votingType.atPlace }}</TD>
                {{#each options}}
                    <TD>{{ count }}</TD>
                    <TD>{{ percents }}</TD>
                {{/each}}
            {{ else }}
                <TD colspan="{{@root.details.colspan}}"><B>протокол не обработан</B></TD>
            {{/if}}
        </TR>
    {{/each}}
</TABLE>

</DIV>

{{>reload seconds=60 }}
{{>footer }}