{{> header title="Результаты по турам" css="result" script="result" }}

<DIV id="header">
    <DIV class="left"></DIV>
    <DIV class="center"></DIV>
    <DIV class="right"><INPUT type="button" class="btn img_exit" value="Выход из системы" onclick="location.href='/logout'"></DIV>
</DIV>

<DIV class="center" style="width: 50%">

    <H1>Результаты обработки протоколов по турам<BR>
        <SMALL>(по состоянию на {{ date_formatted }})</SMALL>
    </H1>
    {{#each tours}}
        <A href='/{{ ../links_to }}?tour_id={{ this.id }}' class='details button'><H1><BIG>{{ this.number }} тур</BIG><BR>
            Обработано {{ this.protocols.processed }} протоколов из {{ this.protocols.total }}</H1></A>
    {{/each}}
</DIV>

{{>reload seconds=30 }}
{{>footer }}